body {
	background: #f18e85;
	display: relative;
}

@keyframes wave {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

svg {
	transform: translateY(100%); /* start position below viewport */
	position: absolute;
	top: 0;
}
.top-wave-svg {
	z-index: 3;
}
.mid-wave-svg {
	z-index: 2;
}
.bottom-wave-svg {
	z-index: 1;
}
